* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #050801;
}

.button2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    margin: 40px 0;
    font-family: 'Epilogue', sans-serif;
    color: #00ffd9;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: 0.5s;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
a:nth-child(1){
    filter: hue-rotate(290deg);
}
a:nth-child(3){
    filter: hue-rotate(110deg);
}
a:nth-child(4){
    filter: hue-rotate(290deg);
}
a:active,
a {
    text-decoration: none;
}

.button2:hover {
    text-decoration: none;
    background: #00ffd9;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 0 5px #00ffd9, 0 0 25px #00ffd9, 0 0 50px #00ffd9, 0 0 200px #00ffd9;
}

.button2 span {
    position: absolute;
    display: block;
}

.button2 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ffd9);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.button2 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ffd9);
    animation: animate2 1s linear infinite;
    animation-delay: 0.3s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.button2 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ffd9);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.button2 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00ffd9);
    animation: animate4 1s linear infinite;
    animation-delay: 0.7s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}